In [17]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv("../data/realdonaldtrump.csv")
df['date'] = pd.to_datetime(df['date'])
df.head()

,id,link,content,date,retweets,favorites,mentions,hashtags
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,2009-05-04 13:54:25,510,917,NaN,NaN
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,2009-05-04 20:00:10,34,267,NaN,NaN
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 08:38:08,13,19,NaN,NaN
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 15:40:15,11,26,NaN,NaN
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",2009-05-12 09:07:28,1375,1945,NaN,NaN

In [18]:
from ttp import ttp
p = ttp.Parser()
result = p.parse(df.loc[0, "content"])
print(result.reply)
print(result.users)
print(result.tags)
print(result.urls)

None
[]
[]
[]

In [19]:
most_frequent_tweets = df['content'].value_counts().rename_axis('tweet_text').reset_index(name='count')[0:10]
most_frequent_tweets.insert(0, 'id', range(0, 0 + len(most_frequent_tweets)))
most_frequent_tweets.head()

   id                                         tweet_text  count
0   0                          MAKE AMERICA GREAT AGAIN!     39
1   1                           PRESIDENTIAL HARASSMENT!     10
2   2                                KEEP AMERICA GREAT!      7
3   3                                       LAW & ORDER!      7
4   4  95% Approval Rating in the Republican Party. T...      6

In [20]:
most_frequent_tweets.to_csv('../data/most_frequent_tweets.csv', index=True, header=True)

In [21]:
df.insert(8, 'has_exclaimation', df['content'].str.count("!"))
df.head()

,id,link,content,date,retweets,favorites,mentions,hashtags,has_exclaimation
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,2009-05-04 13:54:25,510,917,NaN,NaN,1
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,2009-05-04 20:00:10,34,267,NaN,NaN,1
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 08:38:08,13,19,NaN,NaN,1
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 15:40:15,11,26,NaN,NaN,0
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",2009-05-12 09:07:28,1375,1945,NaN,NaN,0

In [22]:
df['has_exclaimation'].describe()

count    43352.000000
mean         0.636211
std          0.827009
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max         17.000000
Name: has_exclaimation, dtype: float64

In [23]:
cut_labels = ["one","two","three","4-5","6-8","9-10", ">10"]
cut_bins = [0,1,2,3,5,8,10,17]

df['exclaimation_bin'] = pd.cut(df['has_exclaimation'], bins=cut_bins, labels=cut_labels).values

df['exclaimation_bin'].describe()
df.to_csv('../data/has_exclaimation.csv', index=True, header=True)

In [66]:
df['hour'] = df.groupby( [df.date.dt.hour]).grouper.group_info[0]
df.head()

,id,link,content,date,retweets,favorites,mentions,hashtags,has_exclaimation,exclaimation_bin,hour
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,2009-05-04 13:54:25,510,917,NaN,NaN,1,one,13
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,2009-05-04 20:00:10,34,267,NaN,NaN,1,one,20
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 08:38:08,13,19,NaN,NaN,1,one,8
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 15:40:15,11,26,NaN,NaN,0,NaN,15
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",2009-05-12 09:07:28,1375,1945,NaN,NaN,0,NaN,9

In [67]:
df.to_csv('../data/tweets_by_hour.csv', index=True, header=True)